<template>
    <div>
        <p>Vue fire here</p>
        <ul>
            <li v-for="(msg, index) in datas" :key="`messages-${index}`">
                {{msg.message}}
            </li>
        </ul>
        <button @click="loadMore">Load More</button>
    </div>
</template>
<script>
import { db } from '~/firebase'
const msgs = db.collection('messages')
export default {
    data() { return { collections: null, currentLimit: 5, datas: [] } },
    methods: {
        updateItem(snapshot) {
            const temp = []
            snapshot.forEach(item => {
                temp.push({...item.data(), documentId: item.id})
            })
            this.datas = temp
            //this.datas = temp.reverse()
        },
        loadMore() {}
    },
    computed: {
        limit() {
            return 5
        }
    },
    mounted() {
        msgs.orderBy('sendDate', 'asc').limit(this.limit).get().then(snapshot => this.updateItem(snapshot))

        // realtime
        msgs.limit(1).onSnapshot(snapshot => {
            let changes = snapshot.docChanges()
            changes.forEach(change => {
                //console.log(change.doc.data())
            })
        })
    }
}
</script>